In [1]:
import numpy as np
import pandas as pd

In [6]:
c=pd.Series(['Deadpool','wolverine','lara','tva','victor'])
a=pd.Series([123,234,456,678,890])

In [7]:
f={'name':c,'age':a}
d=pd.DataFrame(f)
print(d)

        name  age
0   Deadpool  123
1  wolverine  234
2       lara  456
3        tva  678
4     victor  890

In [8]:
print(d['name'])
print(d['age'])

0     Deadpool
1    wolverine
2         lara
3          tva
4       victor
Name: name, dtype: object
0    123
1    234
2    456
3    678
4    890
Name: age, dtype: int64

In [9]:
d['cn']=pd.Series([1,2,3,4,5])
print(d)

        name  age  cn
0   Deadpool  123   1
1  wolverine  234   2
2       lara  456   3
3        tva  678   4
4     victor  890   5

In [10]:
del d['cn']
print(d)

        name  age
0   Deadpool  123
1  wolverine  234
2       lara  456
3        tva  678
4     victor  890

In [11]:
print(d.loc[3])

name    tva
age     678
Name: 3, dtype: object

In [12]:
print(d[2:4])

   name  age
2  lara  456
3   tva  678

In [15]:
d2=pd.DataFrame([['raayan',45]],columns=['name','age'])
print(d.append(d2))

        name  age
0   Deadpool  123
1  wolverine  234
2       lara  456
3        tva  678
4     victor  890
0     raayan   45

C:\Users\Tcs\AppData\Local\Temp\ipykernel_16104\2323172074.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(d.append(d2))

In [19]:
print(d.drop(3))

        name  age
0   Deadpool  123
1  wolverine  234
2       lara  456
4     victor  890