In [1]:
import pandas as pd
import numpy as np

In [3]:
num=pd.DataFrame([[2,3],[4,5]]*2,columns=['A','B'])
print(num)

   A  B
0  2  3
1  4  5
2  2  3
3  4  5

In [7]:
print(num.apply(np.sqrt))

          A         B
0  1.414214  1.732051
1  2.000000  2.236068
2  1.414214  1.732051
3  2.000000  2.236068

In [8]:
print(num.apply(np.sum,axis=0))

A    12
B    16
dtype: int64

In [9]:
print(num.apply(np.sum,axis=1))

0    5
1    9
2    5
3    9
dtype: int64

In [15]:
num1=pd.DataFrame([[2,3,4],[5,6,7],[8,9,0]],columns=['A','B','c'])
print(num1)
print(num1.agg(['min','max','sum']))

   A  B  c
0  2  3  4
1  5  6  7
2  8  9  0
      A   B   c
min   2   3   0
max   8   9   7
sum  15  18  11

In [16]:
num=pd.DataFrame([[2,3],[4,5]],columns=['A','B'])
num['C']=[6,7]
print(num)

   A  B  C
0  2  3  6
1  4  5  7

In [19]:
d=num.assign(S=['m','f'])
print(d)

   A  B  C  S
0  2  3  6  m
1  4  5  7  f

In [20]:
num2=pd.DataFrame(np.random.randn(5,2),index=[1,3,0,2,4],columns = ['col1','col2'])
print(num2)
num3=num2.sort_index()
print(num3)
num4= num2.sort_values(by='col2')
print(num4)

       col1      col2
1 -1.090809  0.525011
3  0.090341 -1.440954
0 -0.130022  1.555795
2  1.562291  0.425491
4  0.404593 -0.144917
       col1      col2
0 -0.130022  1.555795
1 -1.090809  0.525011
2  1.562291  0.425491
3  0.090341 -1.440954
4  0.404593 -0.144917
       col1      col2
3  0.090341 -1.440954
4  0.404593 -0.144917
2  1.562291  0.425491
1 -1.090809  0.525011
0 -0.130022  1.555795

In [22]:
l= pd.DataFrame({
'id':[1,2,3,4,5],
'Name': ['Deadpool','wolverine','lara','tva','victor'],
'sub':['sub1','sub2','sub4', 'sub6','sub5']})
r= pd.DataFrame({
'id':[1,2,3,4,5],
'Name': ['raaya', 'suraa','varaa','poraa','vada'],
'sub':['sub2','sub4','sub3','sub6','sub5']})
print(l)
print(r)
print(pd.merge(l,r,on='sub'))

   id       Name   sub
0   1   Deadpool  sub1
1   2  wolverine  sub2
2   3       lara  sub4
3   4        tva  sub6
4   5     victor  sub5
   id   Name   sub
0   1  raaya  sub2
1   2  suraa  sub4
2   3  varaa  sub3
3   4  poraa  sub6
4   5   vada  sub5
   id_x     Name_x   sub  id_y Name_y
0     2  wolverine  sub2     1  raaya
1     3       lara  sub4     2  suraa
2     4        tva  sub6     4  poraa
3     5     victor  sub5     5   vada