In [15]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5, 3), index=['a','c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd','e', 'f', 'g', 'h'])
print("Original DataFrame with NaN\n",df)
print("\n")
print("Dropped DataFrame\n",df.dropna())
print("\n")

Original DataFrame with NaN
         one       two     three
a  1.135193  1.538822 -0.536901
b       NaN       NaN       NaN
c  0.300265  0.012413 -0.406178
d       NaN       NaN       NaN
e  0.958148  1.194791 -1.199914
f  0.379659  0.608538  0.348908
g       NaN       NaN       NaN
h -0.430468  1.823465  0.317608


Dropped DataFrame
         one       two     three
a  1.135193  1.538822 -0.536901
c  0.300265  0.012413 -0.406178
e  0.958148  1.194791 -1.199914
f  0.379659  0.608538  0.348908
h -0.430468  1.823465  0.317608

In [17]:
df = pd.DataFrame(np.random.randn(3, 3), index=['a', 'c', 'e'],columns=['one',
'two', 'three'])
df = df.reindex(['a', 'b', 'c'])
print ("Original DataFrame:\n",df)
print("\n")
print ("NaN replaced with '0:\n")
print(df.fillna(0))

Original DataFrame:
         one       two     three
a -0.187156  0.830237 -0.545949
b       NaN       NaN       NaN
c -0.158590 -0.785366  0.782477


NaN replaced with '0:

        one       two     three
a -0.187156  0.830237 -0.545949
b  0.000000  0.000000  0.000000
c -0.158590 -0.785366  0.782477

In [19]:
df = pd.DataFrame({'one':[10,20,30,40,50,2000],
'two':[1000,0,30,40,50,60]})
print("\nOriginal DataFrame:\n",df)
print("\n DataFrame with replaced values:\n")
print(df.replace({1000:10,2000:60,40:400,0:100}))

Original DataFrame:
     one   two
0    10  1000
1    20     0
2    30    30
3    40    40
4    50    50
5  2000    60

 DataFrame with replaced values:

   one  two
0   10   10
1   20  100
2   30   30
3  400  400
4   50   50
5   60   60

In [25]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print("\nOriginal DataFrame:\n",df)
print("\nNan- with True fill:\n")
print(df['one'].isnull())

Original DataFrame:
         one       two     three
a -0.600818 -0.359670 -1.026804
b       NaN       NaN       NaN
c -1.248441 -0.702213  2.464944
d       NaN       NaN       NaN
e  0.080338 -0.179948  1.906485
f  0.339817 -0.667478 -0.437330
g       NaN       NaN       NaN
h  0.196184 -0.633897  0.273754

Nan- with True fill:

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [33]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c','e', 'f','h'],columns=['one', 'two', 'three'])
df = df.reindex(('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'))
print("\nOriginal DataFrame:\n",df)
print("\nNaN - Filled with Forward values:\n")
print (df.fillna(method='pad'))
print("\nNaN - Filled with Background values:\n")
print (df.fillna(method='bfill'))

Original DataFrame:
         one       two     three
a  1.553240  2.168603  0.891752
b       NaN       NaN       NaN
c -0.160149  0.094253  0.449494
d       NaN       NaN       NaN
e  0.645816  0.951519 -0.913619
f -0.256106  0.479013  0.591277
g       NaN       NaN       NaN
h -1.665731  0.613339  0.423724

NaN - Filled with Forward values:

        one       two     three
a  1.553240  2.168603  0.891752
b  1.553240  2.168603  0.891752
c -0.160149  0.094253  0.449494
d -0.160149  0.094253  0.449494
e  0.645816  0.951519 -0.913619
f -0.256106  0.479013  0.591277
g -0.256106  0.479013  0.591277
h -1.665731  0.613339  0.423724

NaN - Filled with Background values:

        one       two     three
a  1.553240  2.168603  0.891752
b -0.160149  0.094253  0.449494
c -0.160149  0.094253  0.449494
d  0.645816  0.951519 -0.913619
e  0.645816  0.951519 -0.913619
f -0.256106  0.479013  0.591277
g -1.665731  0.613339  0.423724
h -1.665731  0.613339  0.423724

C:\Users\Tcs\AppData\Local\Temp\ipykernel_9116\67156375.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print (df.fillna(method='pad'))
C:\Users\Tcs\AppData\Local\Temp\ipykernel_9116\67156375.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print (df.fillna(method='bfill'))