In [9]:
import pandas as pd
data = {'Name': ['Jai', 'Princi', 'Gaurav',
'Anuj', 'Ravi', 'Natasha', 'Riya'],
'Age': [17, 17, 18, 17, 18, 17, 17],
'Gender': ['M', 'F','M','M','M!','F','F'],
'Marks': [90, 76, 'NaN', 74, 65, 'NaN', 71]}

df = pd.DataFrame(data)
print("Original DataFrame:\n",df)
c=avg=0

for ele in df['Marks']:
    if str(ele).isnumeric():
        c+=1
        avg += ele
avg /=c

df = df.replace(to_replace="NaN",value=avg)
print("\nReplacing NaN with Average marks:\n",df)

Original DataFrame:
       Name  Age Gender Marks
0      Jai   17      M    90
1   Princi   17      F    76
2   Gaurav   18      M   NaN
3     Anuj   17      M    74
4     Ravi   18     M!    65
5  Natasha   17      F   NaN
6     Riya   17      F    71

Replacing NaN with Average marks:
       Name  Age Gender  Marks
0      Jai   17      M   90.0
1   Princi   17      F   76.0
2   Gaurav   18      M   75.2
3     Anuj   17      M   74.0
4     Ravi   18     M!   65.0
5  Natasha   17      F   75.2
6     Riya   17      F   71.0

C:\Users\Tcs\AppData\Local\Temp\ipykernel_13704\2050950207.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace(to_replace="NaN",value=avg)

In [11]:
df = df[df['Marks'] >= 75]
df = df.drop(['Age'], axis=1)
print("\nFiltering and Dropping functions:\n",df)

Filtering and Dropping functions:
       Name Gender  Marks
0      Jai      M   90.0
1   Princi      F   76.0
2   Gaurav      M   75.2
5  Natasha      F   75.2

In [15]:
one = pd.DataFrame({
'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
'subject_id':['sub1','sub2','sub4','sub6','sub5'],
'Marks _scored':[98,90,87,69,78]},
index=[1,2,3,4,5])

two = pd.DataFrame({
'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
'subject_id':['sub2','sub4','sub3','sub6','sub5'],
'Marks_scored':[89,80,79,97,88]},
index=[1,2,3,4,5])

print("\nOriginal DataFrame 1:\n",one)

print("\nOriginal DataFrame 2:\n",two)

print("\nConcatenated DataFrame using cancat function:\n", pd.concat([one,two]))

Original DataFrame 1:
      Name subject_id  Marks _scored
1    Alex       sub1             98
2     Amy       sub2             90
3   Allen       sub4             87
4   Alice       sub6             69
5  Ayoung       sub5             78

Original DataFrame 2:
     Name subject_id  Marks_scored
1  Billy       sub2            89
2  Brian       sub4            80
3   Bran       sub3            79
4  Bryce       sub6            97
5  Betty       sub5            88

Concatenated DataFrame using cancat function:
      Name subject_id  Marks _scored  Marks_scored
1    Alex       sub1           98.0           NaN
2     Amy       sub2           90.0           NaN
3   Allen       sub4           87.0           NaN
4   Alice       sub6           69.0           NaN
5  Ayoung       sub5           78.0           NaN
1   Billy       sub2            NaN          89.0
2   Brian       sub4            NaN          80.0
3    Bran       sub3            NaN          79.0
4   Bryce       sub6            NaN          97.0
5   Betty       sub5            NaN          88.0